@import '../../styles/colors.scss';

.surveyListWrap {
  background-color: $disabledBackground;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 940px;
    flex-grow: 1;
    width: 100%;
    padding: 40px;
    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: row;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyListWrap {
    .contentWrap {
      ul {
        flex-direction: column;
      }
    }
  }
}